@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins:wght@300;400;500;600&display=swap');

@layer base {
    body {
        @apply font-[Raleway]
    }
    li {
        @apply px-4;
        cursor: pointer;
    }
}

::-webkit-scrollbar {
    display: none;
}


.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(112, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)   
    )!important;
}

#wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    line-height: 0;
    transform: rotate(180deg);
}

#wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

#wave .shape-fill {
    fill: #D8A31A;
    opacity: 1;
}

#wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: visible;
    line-height: 0;

}

#wave2 .shape-fill {
    fill: #D8A31A;
    opacity: 1;
}

#wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

#block {
    position:absolute;
    width: 150px;
    height: 100%;
    left: 12%;
    z-index: 0;
    background-color:#8892b0;
}